.container {
    min-height: 50vh;
    min-width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    font-size: 2rem;
}

/* Start CSS - Q&Q */
.bodyQuotes {
    background-color: #F1E3D3;
}

.indexBox {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxQuotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C48945;
    border-radius: 7px;
}

.boxQuotes .text {
    color: #fefefe;
}

#quoteBtn {
    padding: 0.5rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background-color: rgba(10, 59, 87, 0.6);
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

#quoteBtn:hover {
    background-color: rgba(10, 59, 87);
}

#quote {
    color: rgb(179, 0, 0);
}

#quoteAuthor {
    color: rgb(100, 37, 37);
}

/* End CSS - Q&Q */

/* Start CSS - Hex Colors */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0.7rem;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
}

.hexColor {
    color: #fefefe;
}

.colorBtn {
    padding: 0.7rem 0.7rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    cursor: pointer;
}

.colorBtn:hover {
    background: rgba(0, 0, 0);
}

/* End CSS - Hex Colors */

/* Start CSS - Message List */
.bodyMessage {
    background-color: rgba(252, 191, 183);
}

.boxMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(170, 68, 101, 0.8);
    border-radius: 7px;
}

#messageInput {
    border-radius: 7px;
    border: none;
    width: 75%;
    height: 5.5vh;
    font-size: 1.5rem;
    outline: none;
}

#messageInput:focus {
    box-shadow: 0 0 10px rgb(179, 0, 0);
}

#messageBtn {
    background-color: rgba(16, 37, 66, 0.6);
    font-size: 1.5rem;
    color: #fefefe;
    border: none;
    border-radius: 7px;
    width: 50%;
    cursor: pointer;
}

#messageBtn:hover {
    background-color: rgba(16, 37, 66);
}

#messageSent {
    color: #fefefe;
}

/* End CSS - Message List */

/* Start CSS - Counter */
.counterBody {
    background-color: rgba(202, 196, 206);
}

.counterBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(144, 103, 198, 0.6);
    border-radius: 9px;
}

.counter {
    font-size: 8rem;
    color: #F2F3D9;
}

/* End CSS - Counter */

/* Start CSS - Slider */
.sliderBody {
    background: url('/assets/imgs/background.jpg')center/cover no-repeat;
    min-height: 100vh;
}

.sliderBox {
    background: #1C3041;
    background-color: #CD797C;
    background: url('/assets/imgs/nyc/nyc-0.jpg')center/cover no-repeat;
    min-width: 70vh;
    min-height: 80vh;
    border-radius: 15px;
    box-shadow: 5px 10px black;
    position: relative;
}

.check {
    background-color: #1C3041;
    min-height: 6vh;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fefefe;
    font-size: 25px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

#nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

/* End CSS - Slider */

/* Start CSS - Calculator */
.calcuBody {
    background: url(./assets/imgs/background-math.jpg)center/cover no-repeat;
    min-height: 100vh;
    color: #F1E3D3;
}

.anotherContainer {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 30vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.calculator {
    flex: 0 0 95%;
    /* flex-grow= 0 , flex-shrink= 0 , flex-basis = 95% */
}

.screen {
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgba(102, 99, 112);
    color: #fefefe;
    outline: none;
    border: none;
    border-radius: 9px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

button {
    flex: 0 0 25%;
    padding: 0.25rem 0;
    transition: all 2s ease;
}

.btn {
    font-size: 2rem;
}


/* End CSS - Calculator */